h2 {
  color: red;
}

.red_border {
  border: 1px solid red;
}

#upper_alpha {
  list-style-type: upper-alpha;
}

img {
  width: 300px;
}

.unordered ul {
  color: blue;
  background-color: aqua;
}

p,
ol,
ul,
h2 {
  text-align: center;
}

ol,
ul {
  list-style-position: inside;
}
